body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  color: #40514E;
}

h1 {
  width: 75%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.625rem;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom:10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

h5{
  margin: auto;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 7%;
}

.hrwork{
  border: dotted grey 6px;
  border-bottom: none;
  margin: 30px auto;
  width: 7%;
}

p{
  line-height: 2;
}

.footer-link{
  color: #247e6c;
  font-family:'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover{
color: #eaf6f6;
}

.header-link{
  color: #ffffff;
  font-family:'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

.header-link:hover{
color: #f1e3cb;
}

.subtitle{
  font-family: 'Just Another Hand', cursive;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom:10px;
}

.subtitle-desc{
  font-family: 'Just Another Hand', cursive;
  font-size: 1.5rem;
  color: #66BFBF;
  width: 50%;
  margin: 0 auto 0 auto;
}


.skill-row{
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: justify;
}

.code-img{
  width: 17%;
  height: auto;
  float: left;
  margin-right: 30px;
}

.code2-img{
  width: 25%;
  height: auto;
  float: right;
  margin-left: 30px;
}

.top-index {
 background-color: #d7f7f5;
 position: relative;
 padding-top: 100px;
 color: #66BFBF;
}

.top-exp {
 background-color: #955a47;
 position: relative;
 color: white;
}

.top-pro {
  background-color: #df7599;
  position: relative;
  color: white;
}

.top-pre {
  background-color: #ff8364;
  position: relative;
  color: white;
}

.top-pub {
  background-color: #705772;
  position: relative;
  color: white;
}

.top-edu {
  background-color: #f8a978;
  position: relative;
  color: white;
}

.top-skills{
  background-color: #0d627a;
  position: relative;
  color: white;
}

.top-act{
  background-color: #2d4059;
  position: relative;
  color: white;
}

.work-top{
  position: relative;
  padding-top: 25px;
  padding-bottom: 35px;
}

.contact-top{
  background-color: #103c42;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #66BFBF;
}

.address{
  width: 70%;
  margin: auto;
  text-align: justify;
  padding-top: 50px;
  padding-bottom: 25px;
  font-weight: bold;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.first-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.work{
  margin:auto;
  width:80%;
  text-align: justify;
  line-height: 1.5;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}

.pro-desc{
  font-size: .9rem;
  line-height: 1.5;
}
.bg-work{
  background-color: #fff5eb;
}

.bg-pro{
  background-color: #fdf0f6;
}

.bg-pre{
  background-color: #f7e39c;
}

.bg-pub{
  background-color: #ebefd0;
}

.bg-skills{
  background-color: #f9f7f7;
}

.bg-act{
  background-color: #cde8f6;
}

.pro-link{
  text-decoration: none;
  font-style: italic;
  color: #009f9d;
}

.pro-link:hover{
  color:#408ab4;
}
.bg-edu{
  background-color: #fdffdc;
}

.bg-contact{
  background-color: #f5e1da;
}

.work-desc{
  font-size: 0.9rem;
}

.top-cloud {
  position: absolute;
  right: 60px;
  top: 40px;
}

.bot-cloud {
  position: absolute;
  left: 60px;
  bottom: 60px;
}

.intro{
  width: 70%;
  margin: auto;
  text-align: justify;
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
  font-style: italic;
}

.copyright{
  color: #eaf6f6;
  font-size: .75rem;
  padding: 20px 0;
}

.butn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.butn-company {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 9px 13px 9px 13px;
  text-decoration: none;
}

.butn-company:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.butn-projects {
  background: #ffe9c5;
  background-image: -webkit-linear-gradient(top, #ffe9c5, #f6eedf);
  background-image: -moz-linear-gradient(top, #ffe9c5, #f6eedf);
  background-image: -ms-linear-gradient(top, #ffe9c5, #f6eedf);
  background-image: -o-linear-gradient(top, #ffe9c5, #f6eedf);
  background-image: linear-gradient(to bottom, #ffe9c5, #f6eedf);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  /*font-family: 'Montserrat', sans-serif;*/
  font-style: italic;
  font-weight: bold;
  color: #eb6383;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn-projects:hover {
  background: #dddddd;
  background-image: -webkit-linear-gradient(top, #dddddd, #faf2f2);
  background-image: -moz-linear-gradient(top, #dddddd, #faf2f2);
  background-image: -ms-linear-gradient(top, #dddddd, #faf2f2);
  background-image: -o-linear-gradient(top, #dddddd, #faf2f2);
  background-image: linear-gradient(to bottom, #dddddd, #faf2f2);
  text-decoration: none;
}

#contact {
  padding: 50px 15px;
  background-color: #d7f7f5;
  text-align: center
}

#contact h2 {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 500
}

#contact-form {
  max-width: 500px;
  margin: 0 auto
}

#contact-form input, #contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #103c42;
  color: #fff;
  transition: .5s ease all
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  color: #fff
}

#contact-form input:-moz-placeholder, #contact-form textarea:-moz-placeholder {
  color: #fff;
  opacity: 1
}

#contact-form input::-moz-placeholder, #contact-form textarea::-moz-placeholder {
  color: #fff;
  opacity: 1
}

#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  color: #fff
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  background: #58b4ae
}

#contact-form textarea {
  height: 150px;
  resize: none
}

#contact-form button {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);

  display: block;
  width: 100px;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  margin: 0 auto;
  transition: .5s ease all
}

.button1:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0.20)
}

#contact-form button:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0.20)
  text-decoration: none;
}
